* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

.hero {
  height: 100vh;
  width: 100%;
  background: url(../assets/heroimg.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-title {
  height: 100vh;
  width: 100%;
  text-align: center;
  padding: 259px 0 259px 0;
  font-size: 48px;
  font-family: "Montserrat";
  color: white;
}

/**ABOUT ME SECTION**/

.aboutMe {
  width: 100%;
  height: 550px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .aboutMe {
    background-color: #fff;
  }
}

.aboutMe__img {
  display: none;
}

@media only screen and (min-width: 768px) {
  .aboutMe__img {
    display: inherit;
    align-self: center;
    justify-content: center;
    margin: 0 auto;
    width: 40%;
  }
}
.aboutMe__img-template {
  width: 100%;
}

.aboutMe__text {
  width: 100%;
  margin: 0 10px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .aboutMe__text {
    width: 40%;
    text-align: left;
  }
}

.aboutMe__text-title {
  color: #fff;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .aboutMe__text-title {
    color: #000;
  }
}

.aboutMe__text-p {
  color: #fff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin-top: 40px;
}

@media only screen and (min-width: 768px) {
  .aboutMe__text-p {
    color: #000;
  }
}
