.services__page {
  margin: 0;
  width: 100%;
  background: rgb(221, 87, 87);
  background: linear-gradient(
    90deg,
    rgba(221, 87, 87, 0.5718662464985995) 9%,
    rgba(89, 89, 208, 0.9500175070028011) 47%,
    rgba(0, 212, 255, 0.8379726890756303) 100%
  );
  height: 100%;
  padding: 20px;
}

.header__services {
  margin: 0;
  padding: 0;
  height: 100px;
  background: rgb(221, 87, 87);
  background: linear-gradient(
    90deg,
    rgba(221, 87, 87, 0.5718662464985995) 9%,
    rgba(89, 89, 208, 0.9500175070028011) 47%,
    rgba(0, 212, 255, 0.8379726890756303) 100%
  );
}

.services__title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.services__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .services__content {
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

.services__card {
  /* border: solid 2px black; */
  /* background-color: bisque; */
  border-radius: 4px;
  justify-content: space-between;
}

@media only screen and (min-width: 320px) {
  .services__card {
    width: 80%;
    margin: 40px;
  }
}

@media only screen and (min-width: 420px) {
  .services__card {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  .services__card {
    width: 25%;
    margin: 0 40px;
    height: 550px;
  }
}

.services__card-img {
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 10px;
}

.services__card-content {
  text-align: center;
  padding: 20px;
  height: auto;
}

.services__card-title {
  font-family: "Poppins";
  margin: 0;
  font-size: 24px;
}

.services__card-text {
  font-family: "Poppins";
  margin-top: 10px;
  font-size: 16px;
}

.services__card-link {
  font-family: "Poppins";
  color: #51aff3;
  text-align: right;
  display: block;
  text-decoration: underline;
  margin-top: 20px;
}
